/* partie generale*/
.container {
  width: 100%;
  height: 100vh;
  background-color: #d5d5d5;
}

/* partie de navbar*/
.nav-container {
  background-color: #3636f6;
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
}

.navbar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.navbar h1 {
  font-size: 25px;
}

.navbar button {
  background-color: #000;
  color: #fff;
  padding: 8px 10px;
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

.navbar button:hover {
  background-color: inherit;
  border: 1px solid #000;
  color: #fff;
}

/* partie de containeur principlae*/
.main-container,
.detail-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.main-container h2 {
  margin: 40px 0;
}

/* partie de baree de recherche*/
.search-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container input {
  width: inherit;
  border-radius: 30px;
  padding-left: 20px;
  background-color: #9b9999;
  border: none;
  outline: none;
  height: 25px;
  color: black;
}

/* partie de la liste des utilisateurs*/
.user-list {
  width: 100%;
  height: auto;
  padding: 10px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* partie de la carte de l'utilisateur*/
.user-card {
  width: 150px;
  height: 180px;
  border-radius: 20px;
  padding: 5px;
  background-color: #9e9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 5px;
  box-shadow: 0 0 4px 2px rgb(44, 42, 42);
  transition: 1s;
}

.user-card:hover {
  transform: scale(1.1);
}

.photo-container {
  width: 80px;
  height: 80px;
  margin: 5px auto;
  border-radius: 100%;
  overflow: hidden;
}

.photo-container img {
  width: 100%;
}
.user-card h4 {
  font-size: 14px;
}
.user-card p {
  font-size: 12px;
  color: #2c2a2a;
}

.user-card button {
  background-color: #000;
  color: #fff;
  padding: 4px 14px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.user-card button:hover {
  background-color: inherit;
  border: 1px solid #000;
  color: #000;
}

/* Partie de detail pour l'utilisateur*/
.detail-container h1 {
  margin: 20px 0;
}

.user-detail {
  width: 60%;
  height: 60vh;
  border-radius: 20px;
  padding: 5px;
  background-color: #9e9999;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.user-detail .photo-detail {
  width: 300px;
  height: 300px;
  margin-left: 25px;
  border-radius: 30px;
  overflow: hidden;
}

.photo-detail img{
    width: 100%;
}

.detail-infos h4 {
  font-size: 30px;
}

.detail-infos p {
  font-size: 20px;
}

.retour {
  width: 100%;
  height: 40px;
  margin-top: 30px;
}

.retour button {
  background-color: #000;
  color: #fff;
  padding: 6px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.retour button:hover {
  background-color: inherit;
  border: 1px solid #000;
  color: #000;
}


@media screen and (max-width: 768px) {
    .navbar{
        width: 90%;
    }
    .navbar h1{
        font-size: 20px;
    }

    .search-container{
        width: 100%;
    }
    .user-list{
        grid-template-columns: 1fr 1fr;
    }

    .user-detail{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .detail-container h1{
        font-size: 25px;
    }

    .user-detail .photo-detail{
        margin-left: 0;
    }
}